/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display Bold";
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Raleway Regular", sans-serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
}

h2 {
  color: #D4C17F;
}

a {
  color: #fff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 824px;
}

.text-right {
  text-align: right;
}

.link-bold {
  color: #D4C17F;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 840px;
  padding-top: 30px;
  padding-bottom: 75px;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(./../img/header/header-bg.jpg);
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  text-align: center;
  color: #D4C17F;
  font-size: 48px;
  padding-bottom: 121px;
  font-family: "Playfair Display Bold", serif;
  font-weight: 700px;
  position: relative;
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.info {
  position: relative;
  font-size: 18px;
}
.info--tel, .info--map {
  padding-left: 35px;
}
.info--tel::before, .info--map::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.info--map::before {
  background-image: url(./../img/header/map.svg);
}
.info--tel::before {
  background-image: url(./../img/header/phone.svg);
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.benefits__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
  column-gap: 70px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-image {
  width: 80px;
  height: 80px;
  margin-bottom: 53px;
}

.benefits__item-text {
  font-family: "Roboto Light", sans-serif;
  font-size: 20px;
  line-height: 1.35;
  font-weight: 300;
}

.appartments__title {
  font-size: 36px;
  font-family: "Playfair Display Bold", serif;
  margin-bottom: 88px;
}

.appartments__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.appartments__card {
  display: block;
  width: 540px;
  height: 320px;
  position: relative;
  color: #fff;
  overflow: hidden;
}
.appartments__card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}
.appartments__card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.appartments__card:hover::after {
  opacity: 1;
}
.appartments__card:hover {
  color: #fff;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 5;
}

.appartments__card:hover .card__image {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  font-size: 24px;
  font-family: "Raleway Regular", sans-serif;
  left: 50px;
  right: 20px;
  bottom: 44px;
}

.cta {
  padding: 180px 0;
  background-image: url(./../img/cta/cta-bg.jpg);
}

.cta__title {
  font-size: 36px;
  font-family: "Playfair Display Bold", serif;
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.cta__text {
  line-height: 1.5;
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  font-size: 13px;
  color: #E7E7E7;
  text-align: center;
  line-height: 1.23;
}

.form__button {
  height: 50px;
  font-size: 16px;
  color: #fff;
  font-family: "Raleway Bold", sans-serif;
  text-align: center;
  padding: 12px;
  background-color: #D4C17F;
  transition: background-color 0.2s ease-in;
}
.form__button:hover {
  background-color: #ddc676;
}

.video {
  text-align: center;
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  transition: all 0.2s ease-in;
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.section-map {
  padding: 180px 0;
}

.section-map__title {
  margin-bottom: 88px;
  font-size: 36px;
  font-family: "Playfair Display Bold", serif;
}

.map {
  background: #626262;
  height: 358px;
}

.feetback__title {
  margin-bottom: 38px;
  font-size: 36px;
  font-family: "Playfair Display Bold", serif;
}

.feetback {
  padding-bottom: 180px;
}

.feetback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}

.footer {
  background-color: #2D343C;
  padding-top: 72px;
  padding-bottom: 51px;
  font-size: 14px;
  letter-spacing: 0.05rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: flex;
  column-gap: 22px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */