//fonts
$font-main: 'Raleway Regular', sans-serif;
$font-accent: 'Playfair Display Bold', serif;
$font-secondary: 'Roboto Light', sans-serif;
$font-bold: 'Raleway Bold', sans-serif;

//colors
$dark: #242b33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
$privacy: #E7E7E7;
$map: #626262;

//media
$tabled: 999px;
$tabledMore: 1144px;
