//fonts
$font-main: 'Raleway Regular', sans-serif;
$font-accent: 'Playfair Display Bold', serif;
$font-secondary: 'Roboto Light', sans-serif;
$font-bold: 'Raleway Bold', sans-serif;

//colors
$dark: #242b33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;

