.benefits__row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
    column-gap: 70px;
}

.benefits__item{    
    text-align: center;
}

.benefits__item-image{
    width: 80px;
    height: 80px;
    margin-bottom: 53px;
}

.benefits__item-text{
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 300;
}