.cta {
    padding: 180px 0;  
    background: linear-gradient(
			180deg,
			$dark 10.42%,
			rgba(36, 43, 51, 0) 50.52%,
			$dark 90.1%
		),
		linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
		url('./../img/cta/cta-bg.jpg'), #c4c4c4;   
        @include mediaTabled {
	        padding: 60px 0;
        } 
}
.cta__title {
    font-size: 36px;
    font-family: $font-accent;
    margin-bottom: 17px;
}

.cta__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @include mediaTabled {
        grid-template-columns: 1fr;
    }
}

.cta__text{
    line-height: 1.5;
    p + p {
        margin-top: 1em;
    }

    @include mediaTabled {
        font-size: 14px;
    }
}

.cta__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;  
    @include mediaTabled {
        grid-template-columns: 1fr;
    }
}


.form__input {
    height: 50px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: $white;
    font-size: 14px;
    transition: background-color 0.2s ease-in;
    &::placeholder{
        color: $placeholder;
    }
    &:focus{
        background-color: rgba(255, 255, 255, 0.25);
    }
}
.form__privacy {
    font-size: 13px;
    color: $privacy;
    text-align: center;
    line-height: 1.23;
    &--bottom {
        @include mediaTabled {
            grid-row: 4 / 5;
        }
    }
}
.form__button {
    height: 50px;
    font-size: 16px;
    color: $white;
    font-family: $font-bold;
    text-align: center;
    padding: 12px;
    background-color: $accent;
    transition: background-color 0.2s ease-in;
    &:hover{
        background-color: saturate($accent, 10%);
    }
}