.section-map {
padding: 180px 0;
}
.section-map__title{
    margin-bottom: 88px;
    font-size: 36px;
    font-family: $font-accent;
}

.section-map__map {

}
.map {
    background: $map;
    height: 358px;
}